<h1>New time_log</h1>
<%= form_for(@time_log, :url => {:controller => 'time_logs', :action => 'create', :task_id => @task.id}) do |f| %>

<%= render(:partial => 'form', :locals => {:f => f}) %>
<% end -%>
<%= link_to 'Back', time_logs_path %>
