<h1>New task</h1>
<%= form_for(:task, :url => {:action => 'create', :project_id => @project.id}) do |f| %>
<%= render(:partial => 'form', :locals => {:f => f}) %>
<% end %>
<%= link_to 'Back', tasks_path %> 