<div id="login" class="form">
	<h1>Log in</h1>

	<%= form_tag(:action => 'attempt_login' ) do %>

	<div class="fields">
		<p><span class="label">Username</span><%= text_field_tag :username  %></p>
		<p><span class="label">Password</span><%= password_field_tag :password %></p>
	</div>

	<div class="form-buttons">
		<%= submit_tag("Login") %>
	</div>

	<% end %>
</div>