<% @projects.keys.sort.each do |group| %>
	<div class="group">
		<h2 class="polabox"><%= group.is_a?(Date) || group.is_a?(Time) ? group.to_datetime.strftime("%B") : group %></h2>
		<% for project in @projects[group] %>
		<%= render(:partial => 'project_square', :locals => {:project => project})%>
		<% end %>
		<div class="clear"></div>
	</div>
<% end -%>