<h2>DETAILS</h2>

<div class="polabox">
	
	<div id="dev-time" class="section">		
		<%= render :partial => 'development_metrics', :locals => {:project => project} %>
	</div>
	
	<hr/>
	
	<div id="dev-tasks" class="section">
	<%= render :partial => 'task_metrics', :locals => {:project => project} %>
	</div>
	
	<hr/>
	
	<p> <%= pluralize project.tasks_overrun.length, 'task' %> Over-run </p>
	<p> <%= pluralize project.tasks_overdue.length, 'task' %> Over-due </p>
	
</div>
