<div class="task">
<%=image_tag(task.user.avatar.url(:teeny)) %>
<%= link_to(task.name, task, :style =>"font-weight:bold;color:blue;") %> : 
<%= link_to('Edit', edit_task_path(task) ) %> : 
<%= link_to('Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }) %> 
</div>