<h1>Listing projects</h1>


<% @projects.each do |project| %>
  <%= render(:partial => 'project_square', :locals => {:project => project})%>
<% end %>


<br />

<%= link_to 'New Project', new_project_path %>
