$action-link-subtle-grey: #CCCCCC;
$project-link-colour-blue: #397799;
$heading-grey: #666;

$not_started: #cbd7da;
$in_progress: #df2b1d;
$in_qa: #f8b000;
$completed: #73bb00;

$under: darken($completed, 10);
$over: darken($in_progress, 10);
$total: #3399CC;

$rib-ngfl: #0A6D2E;
$rib-wjec: #0083A3;
$rib-generic: #CCCCCC;
$rib-cilt: #284B24;
$rib-cpd: #A26304;
$rib-dfes: #6D4545;

@mixin letterpress($color) {
    text-shadow: 0 -1px 0 darken($color, 40%), 0 1px 0 lighten($color, 15%)
  }

@mixin placeholder-border {
	border: 1px $action-link-subtle-grey dashed;
	@include border-radius(10px);
	@include box-shadow(#CCC 0px 2px 8px);
	padding:10px;
}

@mixin gill-sans{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
