// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "colours-mixins";


body {
	background: url('handmadepaper.png');
	position: absolute;
}

.calendar {
   margin:0 auto;
   text-align: center;
   font-size: 14px;
   
   .month {
     //font-weight: bold; 
   }
   
   .date {
      font-size: 2em;
   }
}

.pSquare {
	position: relative;
	background: #FFF;
	width: 250px;
	min-height: 250px;
	margin: 10px;
	float: left;
	@include border-radius(10px);
	@include box-shadow(#999 0px 2px 8px);
	
	.top {
    	min-height: 130px;
	}
	
	.title {
		position:relative;
		margin: 20px 15px 15px;
		font-size: 24px;
		line-height: 1.2em;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
		width: 150px;
		
		a {
			color: $project-link-colour-blue;
			text-decoration: none;
		}
		
		a:hover {
			color: darken($project-link-colour-blue, 20);
		}
	}
	
	.description {
		position:relative;
		width: 150px;
		margin: 15px;
		font-size: 12px;
		line-height: 15px;
		color: #568099;
	}

	.ribbon {
		position:absolute;
		top: -10px;
		left: 175px;
		width: 60px;
		height: 160px;
		background: url('projects/bookmark.png') no-repeat scroll top left;
		
		.deadline {
		   position:absolute;
		   bottom:32px;
		   width: 60px;
		   color: #233c50;
	       @include letterpress(#3594c0);	   
		}
		
	}
	
	.actions {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 30px 0;
    a {
      color: $action-link-subtle-grey;
      text-decoration: none;
    }
    
    a:hover {
      color: darken($action-link-subtle-grey, 20);  
    }
    clear:both;
	}
	
	.details {
		margin:10px;
		font-size:14px;
		color: darken($action-link-subtle-grey, 30);
		.metric {
			color: $project-link-colour-blue;
		}
	}
	
  	.activity {
	
	}
	
    .admin {
	
	}

  	.users {
  		position:relative;
  		bottom: 0px;
  		margin:15px;
  	}
	

}


#projects {
	margin: 20px 0;
}


#project {
	
	text-shadow: 0 1px 0px #FFF;
	
	.code {
		color: $action-link-subtle-grey;
		margin:5px 0;
	}
	
	.description {
		margin:5px 0;	
		font-size: 14px;
		line-height: 18px;
		color: #566067;
	}
	
	#milestones {
		position: relative;
		min-height: 120px;
		border: 1px dashed $action-link-subtle-grey;
		margin: 10px 0px;
		
		.milestone {
			position:absolute;	
			width: 40px;		
		}
		
		.today {
			border: 1px blue solid;
		}
		
		.start {
			border: 1px green solid;
		}
		
		.finish {
			border: 1px red solid;
		}
		
	}
 	
	#main-content {
		position:relative;
		margin:10px 0;
		
		#controls {
			position:absolute;
			width: 210px;
			
			top:0;
			left:0;
			right:0;
			bottom:0;
			
			@include placeholder-border;
			
		}

		#tasks {
			min-height: 250px;
			margin-left: 240px;
			
			text-shadow: none;
			color: #EF02CB;
			@include placeholder-border;
			
			.task {
				@include placeholder-border;
				margin: 5px auto;
			}
		}
		
	}
	
}