// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "colours-mixins";
@import "fancy-buttons";

.button{
  @include fancy-button( #91dc3d, 14px, 4px, 1px);
}

body {
	background: url('handmadepaper.png');
}

.left {
  float:left;
}

.right {
  float:right;
}

.calendar {
   margin:0 auto;
   text-align: center;
   font-size: 14px;
   
   .month {
     //font-weight: bold;
   }
   
   .date {
      font-size: 2em;
   }
}

.pSquare {
	position: relative;
	background: #FFF;
	width: 250px;
	min-height: 250px;
	margin: 10px;
	float: left;
	@include border-radius(10px);
	@include box-shadow(#999 0px 2px 8px);
	
	.top {
    	min-height: 130px;
	}
	
	.title {
		position:relative;
		margin: 20px 15px 15px;
		font-size: 24px;
		line-height: 1.2em;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
		width: 150px;
		
		a {
			color: $project-link-colour-blue;
			text-decoration: none;
		}
		
		a:hover {
			color: darken($project-link-colour-blue, 20);
		}
	}
	
	.description {
		position:relative;
		width: 150px;
		margin: 15px;
		font-size: 12px;
		line-height: 15px;
		color: #568099;
	}

	.ribbon {
		position:absolute;
		top: -10px;
		left: 175px;
		width: 60px;
		height: 160px;
		background: url('projects/bookmark.png') no-repeat scroll top left;
		
		.deadline {
		   position:absolute;
		   bottom:32px;
		   width: 60px;
		   color: #233c50;
	       @include letterpress(#3594c0);	   
		}
		
	}
	
	.actions {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 30px 0;
    a {
      color: $action-link-subtle-grey;
      text-decoration: none;
    }
    
    a:hover {
      color: darken($action-link-subtle-grey, 20);  
    }
    clear:both;
	}
	
	.details {
		margin:10px;
		font-size:14px;
		color: darken($action-link-subtle-grey, 30);
		.metric {
			color: $project-link-colour-blue;
		}
	}
	
  	.activity {
	
	}
	
    .admin {
	
	}

  	.users {
  		position:relative;
  		bottom: 0px;
  		margin:15px;
  	}
	

}


#projects {  
	margin: 20px 0;
	
}

.demoBox { 
  width: 180px;
  height: 200px;
  }
  
.polabox {
  border: 3px solid #FFF;
  @include background-image(linear-gradient(#EFEFEF, #D3D3D3));
  @include single-box-shadow(#AAA, 0, 2px, 5px)
 }



#top {
  background: #f1f4f8;
  project: 20px;
  @include single-box-shadow(#AAA, 0, 2px, 5px)
}



#project {
  width:960px;
  margin: 0 auto;
	text-shadow: 0 1px 0px #FFF;
	
	.code {
		color: $action-link-subtle-grey;
		margin:5px 0;
	}
	
	.description {
		margin:5px 0;	
		font-size: 14px;
		line-height: 18px;
		color: #566067;
	}
	
	#milestones {
		position: relative;
		min-height: 120px;
		border: 1px dashed $action-link-subtle-grey;
		margin: 10px 0px;
		
		.milestone {
			position:absolute;	
			width: 40px;		
		}
		
		.today {
			border: 1px blue solid;
		}
		
		.start {
			border: 1px green solid;
		}
		
		.finish {
			border: 1px red solid;
		}
		
	}
 	
	#main-content {
	  margin: 5px 0 0 0;
	  overflow: auto;
		
		#controls {
      min-height: 250px;
		  width: 185px;
		  padding: 20px;
			background: #EFEFEF;
			@include background-image(linear-gradient(#EFEFEF, #D3D3D3));
			
			#userList{
			  .user {
			    overflow: auto;
          margin: 15px 0;
			    color: $heading-grey;
          min-height: 35px;
			    
			    .avatar{
			      margin-right:5px;
			      
			    }			    
			    .details{
			      margin-left:5px;
            line-height: 16px;
			      .name {
			        font-weight: bold;
			        font-size: 14px;
			      }
			      .summary{
			        font-size: 11px;
			      }
			    }
			  }
			}
					
		}

		#tasks {
      @include single-box-shadow(#AAA, -2px, -2px, 4px, false, false);
		  padding: 20px;
			min-height: 210px;
			min-width: 475px;
		//	text-shadow: none;
		//	color: #EF02CB;
			
			.filter{
			   margin: 20px 0;
			   font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
			   text-align:justify;
			   
			  .buttons{
			    a {
			       color: $action-link-subtle-grey;
			       text-decoration: none;
			       margin-left:1em;
			    } 
			    
			  }
			  
			}
			
			.task {
				//@include placeholder-border;
				margin: 5px auto;
				padding: 10px;
				overflow:auto;
				
				.deadline{
				  color: #666;
				  font-weight:bold;
				}
				
				.details {
				  margin: 0 10px;
				  min-width: 300px;
				  
				  .name{				    
				      a {
                color: #333;
				        font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
				        text-decoration: none;        	        
				      }
				      margin-bottom: 6px;
				  }		   
				   
				  .user{
            .avatar {
				      
				    }
				    .name {
				      color: #666;
				      font-size: 11px;
				      line-height: 16px;
				      margin-left: 6px;
				    }
				  }
				  
				  
				}
				
				.admin {
				  margin: 0 auto;
				}
				
				.time {
				  width:40px;
				  height:40px;
				  background: #234873;
				}
			}
			
		}
		
		#metrics {
		  padding: 20px;
		  width: 180px;
      min-height: 250px;
		}
		
	}
	
}