  // Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "colours-mixins";
@import "fancy-buttons";


#task-list {
        padding: 20px;
        min-height: 210px;
        min-width: 475px;
        
        #filter {
          font-size: 16px;
          margin: 20px 0;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
          text-align: justify;
          
          hr {
            
            width: 100%;
            
          }
          
          .buttons {
            
            li {
              float:left;
              margin-left: 1em;
            }
            .selected a {
              color:black !important;
            }          
            a {
              color: #BBB;
              text-decoration: none;              
            }
            .first {
              margin-left: 0;
            }
          }
        }
        .task {
          margin: 10px auto;
          overflow: auto;
          .deadline {
            margin: 10px;
            color: #666;
            font-weight: bold;
          }
          .details {
            margin: 10px 10px 10px 0;
            min-width: 300px;
            .task-name {
              a {
                color: #333;
                font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
                text-decoration: none;
              }
              margin-bottom: 7px;
            }
            .user {
              .avatar {}
              .screen-name {
                color: #666;
                font-size: 11px;
                line-height: 16px;
                margin-left: 6px;
              }
            }
          }
          .admin {
            margin: 10px auto;
          }
          .time {
            margin: 10px;
            width: 40px;
            height: 40px;
            //background: #234873;
        
          }
        }
    }


.task {
  .task-name {
    img {
      vertical-align: middle;
    }
  }
  .user {
    .user-name {}
  }
  .deadline {
    width: 40px;
    clear: left;
  }
  .description {}
}

.task.complete {
  // border-color:green;
  @include background-image(linear-gradient(#dbf2d7, #c4dbc1));
  // opacity: .25;
}

.task.overrun {
  // border-color:green;
}

.task.overdue {
  .deadline {
    color: #a21414 !important;
  }
}

#wood_board {
  background: url("wood_pattern.png");
  overflow: auto;
  #activity_list {
    background: url("handmadepaper.png");
    width: 730px;
    min-height: 520px;
    @include box-shadow(#888888 2px 0px 6px);
    .avatar {
      width: 50px;
      margin: 15px;
      position: relative;
      border: 2px white solid;
      @include border-radius(10px);
      @include box-shadow(#999999 0px 1px 6px);
      img {
        vertical-align: middle;
      }
      .icon {
        position: absolute;
        bottom: -10px;
        right: -4px;
      }
    }
    .new_activity {
      text-align: center;
      margin: 10px auto;
    }
    .day {
      margin: 20px 0;
      text-align: center;
      color: #7196B0;
    }
    .seperator {
      padding: 20px 0;
      background: url("bar.png") repeat-y center;
      overflow-x: hidden;
    }
  }
  #metrics {
    min-height: 500px;
    width: 210px;
    padding: 10px;
    .polabox {
      padding: 10px;
    }   
    .date{
      font-size: 16px;
      text-align: center;
      margin-bottom: 10px;
      font-weight: bold;
      color: #597085;
    }    
    .details {
      margin: 0 0 20px 0;
      .avatar {
        margin: 0 10px 0 0;
      }
      .user {
        @include gill-sans;
      }
      .user-role {
        color: #777;
        font-size: 14px;
      }
      .user-name {
        font-size: 16px;
        color: #555;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

.right_of_line {
  left: 379px;
}

.timepoint {
  position: relative;
  //  right: -20px;
}

.pointer {
  position: absolute;
  left: 350px;
  top: 24px;
  .arrow {
    position: absolute;
    left: -11px;
    top: 0px;
  }
}

.pointer.start{
  top:0;
}

.right_of_line {
  .pointer {
    left: -29px;
    .arrow {
      position: absolute;
      left: 27px;
      top: 0px;
    }
  }
}

.activity {
  width: 330px;
  position: relative;
  overflow: auto;
  margin: 20px 10px;
  background: white;
  @include border-radius(5px);
  @include box-shadow(#999999 0px 1px 6px);
	.time {
    font-size: 13px;
    color: #999;
  }
  .details {
    width: 230px;
    .description {
      color: #555;
      margin: 20px 0 5px;
      font-size: 15px;
    }
    
    .body {
      margin: 10px 0 20px;
      font-size: 12px;
      color: #777;
      line-height: 1.25em;
    }
  }
	
	.actions {
		margin:10px;
	}

  #reply-list {
    clear: left;
	
	.odd {
		background: #FFFCDD;
	}	
	.even {
		background: #FFFEEF;
	}
	hr {
		margin: 0;
		border: 0;
		border-top: 1px solid #FFF0C0;
		height: 1px;
		background-color: #FFFEEE;
		width: 100%;
	  }
	.reply {
		padding: 20px;
		.icon {
			border: none;
			margin-right: 8px;
		}
		.username{
			color: $reply_colour;
		}
		.time {
			line-height:20px;
		}
		p {
			font-size:12px;
			line-height: 16px;
		}
	}	
  }

}

.hidden {
  display: none;
}

.comment {
  .type {
    font-weight: bold;
    color: $comment_colour;
  }
}

.time_log {
  .type {
    font-weight: bold;
    color: $time_log_colour;
  }
}

#new-comment-form, #new-time_log-form {
  text-align: left;
  width: 90%;
}
