// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#show {
  margin: 20px auto;
  font-size: 24px;
  
  .details {
    width: 700px;
    margin-left: 20px;
  }
  
  #email{
    font-size: 19px;
  }
  #fullname {
    font-size: 34px;
  }
  
  #role {
    font-size: 19px;
  }
  
  #description {
    font-size: 15px;
  }
}

#edit {
   .details {
    width: 700px;
    margin-left: 20px;
  }


  margin: 20px auto;
  font-size: 18px;
  
}



#email{
  color: #B6C7D5;
  margin-top: 0.3em;
  
}
#fullname {
  font-weight: bold;
  color: #666;
}

#role {
  margin-top: .5em;
  color: #6488A8;
}

#description {
  margin-top: 1em;
  line-height: 1.2em;
  color: #888;
}