// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "compass";
@import "colours-mixins";
@import "fancy-buttons";

.login_summary{
  font-size:13px;
  text-align: right;
  line-height: 16px;
  .avatar{
   margin-left:5px; 
  }
}
.user_bar {
  display:inline-block;
}

.show_user{
  margin: 20px auto;
}
#show {
  margin: 20px auto;
  font-size: 24px;
  
  .details {
    width: 700px;
    margin-left: 20px;
  }
  
  #email{
    font-size: 19px;
  }
  #fullname {
    font-size: 34px;
  }
  
  #role {
    font-size: 19px;
  }
  
  #description {
    font-size: 15px;
  }
}

#edit {
   .details {
    width: 700px;
    margin-left: 20px;
  }


  margin: 20px auto;
  font-size: 18px;
  
}



#email{
  color: #B6C7D5;
  margin-top: 0.3em;
  
}
#fullname {
  font-weight: bold;
  color: #666;
}

#role {
  margin-top: .5em;
  color: #6488A8;
}

#description {
  margin-top: 1em;
  line-height: 1.2em;
  color: #888;
}




.user_list_item {
  background: white;
  @include box-shadow(#999999 0px 2px 8px);
  @include border-radius(5px); 
  padding: 10px;
  margin: 5px;
  width: 285px;
  
  .details{
    margin-left: 10px;
    width: 245px;
  }
  
  
}
